.htaccess
/config.php
admin/config.php

!index.html

image/catalog/
image/cache/

system/storage/cache/
system/storage/download/
system/storage/logs/
system/storage/modification/
system/storage/session/
system/storage/upload/
