<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
<link rel="shortcut icon" href="#" />
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700&display=swap" />
<link rel="stylesheet" type="text/css" href="view/javascript/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="view/javascript/bootstrap/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="view/stylesheet/stylesheet.css" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.js"></script>
</head>
<body>